.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign-in-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.sign-in-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    border: 1px solid;
    border-color: rgb(139, 130, 130);
    border-radius: 5%;
    padding: 1%;
}

.sign-in-title{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1.5rem;
}