<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthyTracker Password Reset</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <h1>Thank you for your HealthyTracker registration</h1>
            </td>
        </tr>
        <tr>
            <td>
                <p>As part of our security process, we ask new users to confirm their email address.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="@(Model.Url)">Confirm registration</a>
            </td>
        </tr>
    </table>
</body>

</html>