<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthyTracker Password Reset</title>
</head>

<body>
    <table>
        <tr>
            <td>
                <h1>HealthyTracker Security Notification</h1>
            </td>
        </tr>
        <tr>
            <td>
                <p>Your password has been changed. If you did not make this change, please contact us immediately</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Contact Us</p>
            </td>
        </tr>
    </table>
</body>

</html>