<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthyTracker Password Reset</title>
</head>

<body>
    <table>
        <tr>
            <td>
                <h1>HealthyTracker Password Reset</h1>
            </td>
        </tr>
        <tr>
            <td>
                <p>You have requested a password reset. To reset your password, please click the link below:</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="@(Model.ResetPasswordUrl)">Reset your password</a>
            </td>
        </tr>
    </table>
</body>

</html>